
.container_banner{
    background-image: linear-gradient(var(--dark-color-transp),var(--dark-color-transp)),url(../img/bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .conta_banner{
        max-width: var(--max-width-xl);
        margin: auto;
        & .cont_banner{
            max-width: var(--max-width-m);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--gap) * 1.25);
            & .img_luis{
                width: 200px;
                height: 250px;
                & img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: calc(var(--border) / 3.2) solid var(--dark-color);
                    object-fit: cover;
                    box-shadow: 0 0 calc(var(--spacing-size) / 1.6) var(--primary-color), 
                                0 0 calc(var(--spacing-size) * 1.25) var(--primary-color), 
                                0 0 calc(var(--spacing-size) * 1.25) var(--primary-color), 
                                0 0 calc(var(--spacing-size) / 1.6) var(--primary-color);
                }
            }
            & .content_banner{
                display: grid;
                gap: calc(var(--gap) * 1.25);
                text-align: center;
                color: var(--font-white);
                & .banner_name, & .banner_paragraph, & .banner_span{
                    text-shadow: 0 0 calc(var(--spacing-size) / 1.6) var(--font-primary-color), 
                                 0 0 calc(var(--spacing-size) / 1.6) var(--font-tertiary-color), 
                                 0 0 calc(var(--spacing-size) / 1.6) var(--font-primary-color), 
                                 0 0 calc(var(--spacing-size) / 1.6) var(--font-tertiary-color);
                }
                & .banner_span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: calc(var(--gap) / 1.6);
                }
            }
        }
    }
}

@media(width<=650px){
    & .cont_banner{
        & .img_luis{
            margin-bottom: var(--margin);
        }
        & .content_banner{
            margin-top: var(--margin);
            & .banner_name{
                font-size: calc(var(--font-size) * 1.5);
            }
        }
    }
}