:root{
    --primary-color:#42035e;
    --secondary-color:#21618C;
    --tertiary-color:#8f53a7;
    --quaternary-color:#E5E7E9;
    --dark-color:#000;
    --dark-color-transp:#000000ad;
    --white-color:#fff;
    --font-primary-color:#42035e;
    --font-secondary-color:#21618C;
    --font-tertiary-color:#8f53a7;
    --font-dark:#000;
    --font-white:#fff;
    --font-family:'Nunito Sans', sans-serif;
    --font-size:1rem;
    --spacing-size:1rem;
    --padding:1rem;
    --margin:1rem;
    --gap:1rem;
    --border:1rem;
    --border-radius:1rem;
    --transition:.5s;
    --max-width-xl:1800px;
    --max-width-m:1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}