
.header{
    border-bottom: 1px solid black;
    
    .conta-header{
        max-width: var(--max-width);
        margin: auto;
        .cont-header{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: auto;
            min-height: 100px;
            .logo{
                width: 50px;
                
                img{
                    width: 100%;
                    border: 2px solid rgb(255, 3, 3);
                    border-radius: 50%;
                }
            }
            .menu{
                display: flex;
                flex-wrap: wrap;
                & a{
                    color: var(--font-dark);
                    padding: 25px 10px;
                    transition: var(--transition);
                    text-decoration: none;
                    &:hover{
                        color: var(--tertiary-color);
                    }
                }
            }
        }
    }
}

